.news_page__container {
    text-align: center;
    margin: 20px 40px;
    font-size: 15px;
}
h1 {
    padding: 20px 0;
}
  .pagination_buttons {
    margin-top: 20px;
  }
  .pagination_buttons button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination_buttons button:disabled {
    background-color: #c2c2c2;
    cursor: not-allowed;
  }
  
  .error_message {
    color: red;
  }
.reload_button{
    margin: 10px 10px;
    border: none;
    color: #007bff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}